
:root {
  --dark: #1d1d1d;
  --grey-dark: #414141;
  --light: #fff;
  --mid: #ededed;
  --grey: #989898;
  --gray: #989898;
  --green: #28a92b;
  --green-dark: #4e9815;
  --green-light: #6fb936;
  --blue: #2c7ad2;
  --purple: #8d3dae;
  --red: #c82736;
  --orange: #e77614;
  accent-color: var(--green);
}
  
  .box{
    background-color: black;
    width: 25%;
    padding: 3%;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    color: orange;
    text-align: center;
  }

  .box1{
    padding: 0;
    width: 50%;
    height: fit-content;
    margin-left: 0px;
  }

  .box1 > img{
    width: 100%;
  }
  